In [2]:
import numpy as np
import pandas as pd

**import data**

In [4]:
data = pd.read_csv("/content/Copy of Customers.csv")

In [5]:
data.head()

,CustomerID,Gender,Age,Annual Income ($),Spending Score (1-100),Profession,Work Experience,Family Size
0,1,Male,19,15000,39,Healthcare,1,4
1,2,Male,21,35000,81,Engineer,3,3
2,3,Female,20,86000,6,Engineer,1,1
3,4,Female,23,59000,77,Lawyer,0,2
4,5,Female,31,38000,40,Entertainment,2,6

In [8]:
data.iloc[0]

CustomerID                         1
Gender                          Male
Age                               19
Annual Income ($)              15000
Spending Score (1-100)            39
Profession                Healthcare
Work Experience                    1
Family Size                        4
Name: 0, dtype: object

In [12]:
#select row 2 to 7
data.iloc[2:7]

,CustomerID,Gender,Age,Annual Income ($),Spending Score (1-100),Profession,Work Experience,Family Size
2,3,Female,20,86000,6,Engineer,1,1
3,4,Female,23,59000,77,Lawyer,0,2
4,5,Female,31,38000,40,Entertainment,2,6
5,6,Female,22,58000,76,Artist,0,2
6,7,Female,35,31000,6,Healthcare,1,3

In [13]:
#select data

data['Gender']

0         Male
1         Male
2       Female
3       Female
4       Female
         ...
1995    Female
1996    Female
1997      Male
1998      Male
1999      Male
Name: Gender, Length: 2000, dtype: object

In [18]:
#multiple selecting col
data[['Age','Gender' , 'Annual Income ($)']]

      Age  Gender  Annual Income ($)
0      19    Male              15000
1      21    Male              35000
2      20  Female              86000
3      23  Female              59000
4      31  Female              38000
...   ...     ...                ...
1995   71  Female             184387
1996   91  Female              73158
1997   87    Male              90961
1998   77    Male             182109
1999   90    Male             110610

[2000 rows x 3 columns]

In [27]:
#sort data ASC and DSC
#Ascending
data_sort_ASC = data.sort_values(by = "Age" , ascending=True)
data_sort_ASC.head()

#Dscending
# data_sort_DSC = data.sort_values(by = "Age" , ascending=False)
# data_sort.head()

,CustomerID,Gender,Age,Annual Income ($),Spending Score (1-100),Profession,Work Experience,Family Size
443,444,Female,0,68761,16,Lawyer,1,4
466,467,Male,0,186002,80,Doctor,15,2
1271,1272,Female,0,61228,81,Entertainment,1,6
1248,1249,Female,0,143082,63,Entertainment,0,7
1583,1584,Female,0,120899,7,Marketing,2,6

In [28]:
#Describe the datatype
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 8 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CustomerID              2000 non-null   int64
 1   Gender                  2000 non-null   object
 2   Age                     2000 non-null   int64
 3   Annual Income ($)       2000 non-null   int64
 4   Spending Score (1-100)  2000 non-null   int64
 5   Profession              1965 non-null   object
 6   Work Experience         2000 non-null   int64
 7   Family Size             2000 non-null   int64
dtypes: int64(6), object(2)
memory usage: 125.1+ KB

In [29]:
#describe the col (show mean , count ,min , std , max)
data.describe()

,CustomerID,Age,Annual Income ($),Spending Score (1-100),Work Experience,Family Size
count,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000
mean,1000.500000,48.960000,110731.821500,50.962500,4.102500,3.768500
std,577.494589,28.429747,45739.536688,27.934661,3.922204,1.970749
min,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,500.750000,25.000000,74572.000000,28.000000,1.000000,2.000000
50%,1000.500000,48.000000,110045.000000,50.000000,3.000000,4.000000
75%,1500.250000,73.000000,149092.750000,75.000000,7.000000,5.000000
max,2000.000000,99.000000,189974.000000,100.000000,17.000000,9.000000

In [31]:
unique_count = data["Work Experience"].value_counts()
unique_count

Work Experience
1     470
0     431
8     166
9     160
7     126
4     121
6     120
5     117
10     84
2      63
3      55
12     17
13     16
14     16
11     14
15     14
16      5
17      5
Name: count, dtype: int64

In [36]:
#find isnull
data.isnull().sum()

CustomerID                 0
Gender                     0
Age                        0
Annual Income ($)          0
Spending Score (1-100)     0
Profession                35
Work Experience            0
Family Size                0
dtype: int64

In [38]:
data.fillna(data.mean)

,CustomerID,Gender,Age,Annual Income ($),Spending Score (1-100),Profession,Work Experience,Family Size
0,1,Male,19,15000,39,Healthcare,1,4
1,2,Male,21,35000,81,Engineer,3,3
2,3,Female,20,86000,6,Engineer,1,1
3,4,Female,23,59000,77,Lawyer,0,2
4,5,Female,31,38000,40,Entertainment,2,6
...,...,...,...,...,...,...,...,...
1995,1996,Female,71,184387,40,Artist,8,7
1996,1997,Female,91,73158,32,Doctor,7,7
1997,1998,Male,87,90961,14,Healthcare,9,2
1998,1999,Male,77,182109,4,Executive,7,2
1999,2000,Male,90,110610,52,Entertainment,5,2